h1{
    font-size: xx-large;
}
#pic{
    width:126px;
    height:auto;
    border-radius:5%;
}

.build_photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}

#box2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.jumbotron{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
