#pic{
    width:126px;
    height:auto;
    border-radius:5%;
}

.build_photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}

#bio{
    padding-left:30px;
}

#box2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.jumbotron{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkslategrey;
    padding-left: 20px;
    padding-right: 20px;
}
.horiz{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav{
    justify-content: center;
    padding-top: 10px;
}
.hC{
    color:blue
}
#linkedIn{
    width:auto;
    height:20px;
}
#gitHub{
    width:auto;
    height:20px;
}
