#pic{
    width:126px;
    height:auto;
    border-radius:5%;
}

.build_photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}

#bio{
    padding-left:30px;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.jumbotron{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkslategrey;
}
.horiz{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vert{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 700px) {
    .vert{
        flex-direction: row;
    }
}

.nav{
    justify-content: center;
    font-size: large;
    padding-top: 10px;
}
.navbar{
    justify-content: center;
}
.hC{
    color:blue
}
#head{
    justify-content: center;
}
