#pic{
    width:126px;
    height:auto;
    border-radius:5%;
}

.build_photos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}

#bio{
    padding-left:30px;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.jumbotron{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkslategrey;
}
.horiz{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vert{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buildPhoto1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buildPhoto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav{
    justify-content: center;
    font-size: large;
    padding-top: 10px;
}
.navbar{
    justify-content: center;
}
.hC{
    color:darkslategray
}
#head{
    justify-content: center;
}

@media only screen and (min-width: 700px) {
    .buildPhoto1{
        flex-direction: column;
    }
    .buildPhoto2{
        flex-direction: row;
    }
}

.btn {
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676D7;
	color: #fff;
	padding: 8px 16px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.btn:hover{
	box-shadow: 0 0 0 2px #1d49aa;
}
.btn:focus{
	outline: none;
	box-shadow: inset 0 0 20 8px #191781;}